*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


html{
  scroll-behavior:smooth;
}


body{

  font-family: "Inter", Arial, sans-serif;

  min-width:320px;

  min-height:100vh;

}


a{
  text-decoration:none;

}


img{

  max-width:100%;

  display:block;

}


button{

  font-family:inherit;

}
section{

  scroll-margin-top:80px;

}